**.kate-swp

# don't track our binary artifacts
cmd/update-ca-certificates/update-ca-certificates
plugins/certbundle/certbundle.plugin
plugins/etcssl/etcssl.plugin
plugins/java/java.plugin
plugins/openssl/openssl.plugin
plugins/nssdb/nssdb.plugin
